// Run this command to let sass watch for changes and automatically output
// sass --watch ./public_html/scss/app.scss:./public_html/css/app.min.css --style compressed

.navbar {
  z-index: 50;
}

header {
  position: relative;
  text-align: center;
  color: white;
  
  img {
    width: 100%;
    height: 85vmin;
    z-index: 0;
    filter: brightness(0.55);
    object-fit: cover;
    object-position: 0 10%;
  }
  
  .header-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 4.3vmin;
    z-index: 2;

    h1 {
      font-size: 1.7em;
    }
  
    p {
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
